= render "devise/shared/header"
.content
  %p.content__message.u-mbM noteに登録する
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .content__field
      = f.label :ニックネーム（登録後に変更可能）
      %br/
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例：ノート君（任意）", class: "content__field-box"
    .content__field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例：mail@note.mu", class: "content__field-box"
    .content__field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "off", placeholder: "例：６文字以上の半角英数", class: "content__field-box"
    %p.agree
      = f.check_box :agreement
      =link_to "利用規約", "https://note.mu/terms", class: "green", target: "_blank"
      に同意する
    .actions
      = f.submit "登録する（無料）", class: "regist button"
  .content__sns
    %p.regist__sub-title ソーシャルアカウントで登録
    %ul
      %li.line
        %a.twitter.button
          = fa_icon "twitter", class: "fa-lg icon-small"
          Twitter
      %li.line
        %a.facebook.button
          = fa_icon "facebook", class: "fa-lg icon-small"
          Facebook
  .content__login
    / = render "devise/shared/links", class: "green"
    = link_to "ログイン", new_user_session_path, class: "green login"
    %p
      cakesアカウントをお持ちの方は
      =link_to "こちら", new_user_session_path, class: "green"
