.header__container
  .header__top
    -if user_signed_in?
      = link_to image_tag("note_logo"), user_path("#{current_user.id}"), class: "icon"
    -else
      = link_to image_tag("note_logo"), contributes_path, class: "icon"
    .header__top__right
      %ul
        -if user_signed_in?
          %li.inline
            = image_tag "search_button", class: "search__button"
          %li.inline
            = image_tag "notification_button", class: "notification__button"
          %li.inline
            = image_tag "#{current_user.image}", class: "user__image"
          %li.inline.new__post__create
            = image_tag "pen_button", class: "pen__button"
            %p.new__post ノートを投稿
          %div.new__post__select
            %ul.new__post__list
              %li.inline.new__post__element
                = link_to new_contribute_path, class: "new__post__icon" do
                  = image_tag "make_text"
                  %p.new__post__text テキスト
              %li.inline.new__post__element
                = link_to helps_path, class: "new__post__icon" do
                  = image_tag "make_image"
                  %p.new__post__text イメージ
              %li.inline.new__post__element
                = link_to helps_path, class: "new__post__icon" do
                  = image_tag "make_talk"
                  %p.new__post__text トーク
              %li.inline.new__post__element
                = link_to helps_path, class: "new__post__icon" do
                  = image_tag "make_sound"
                  %p.new__post__text サウンド
              %li.inline.new__post__element
                = link_to helps_path, class: "new__post__icon" do
                  = image_tag "make_movie"
                  %p.new__post__text ムービー
        -else
          %li.inline
            = link_to "ログイン", new_user_session_path, class: "login__button"
          %li.inline
            = link_to "新規登録", new_user_registration_path, class: "regist__button"
          %li.inline
            = image_tag "search_button", class: "search__button"
  .header__navigation
    %ul
      -if user_signed_in?
        %li.inline
          = link_to "ホーム", user_path("#{current_user.id}"), {:class => "#{(@category == 'users')? 'navigation_menu selected' : 'navigation_menu not_selected'}"}
      %li.inline
        = link_to "おすすめ", contributes_path, {:class => "#{(@category == 'contributes')? 'navigation_menu selected' : 'navigation_menu not_selected'}"}
      %li.inline
        = link_to "ピックアップ", pickups_path, {:class => "#{(@category == 'pickups')? 'navigation_menu selected' : 'navigation_menu not_selected'}"}
      %li.inline
        = link_to "注目カテゴリ", categories_path, {:class => "#{(@category == 'categories')? 'navigation_menu selected' : 'navigation_menu not_selected'}"}
      %li.inline
        = link_to hashtags_path, {:class => "#{(@category == 'hashtags')? 'navigation_menu selected' : 'navigation_menu not_selected'}"} do
          人気タグ
          = fa_icon "caret-down", class: "navigation_menu"
      %li.inline.question
        = link_to helps_path, class: "navigation_question" do
          = fa_icon "question-circle", class: "fa-lg question-icon"
  .header__category
    %ul.inline
      %li.inline
        = link_to "マンガ", mangas_path, {:class => "#{(@category == 'mangas')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "コラム", columns_path, {:class => "#{(@category == 'columns')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "小説", novels_path, {:class => "#{(@category == 'novels')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "写真", photos_path, {:class => "#{(@category == 'photos')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "サウンド", musics_path, {:class => "#{(@category == 'musics')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "ビジネス", businesses_path, {:class => "#{(@category == 'businesses')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "ライフスタイル", lifestyles_path, {:class => "#{(@category == 'lifestyles')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "テクノロジー", techs_path, {:class => "#{(@category == 'techs')? 'category_menu selected' : 'category_menu'}"}
      %li.inline
        = link_to "エンタメ", entertainments_path, {:class => "#{(@category == 'entertainments')? 'category_menu selected' : 'category_menu'}"}
