.each__contribute
  .contribute__header
    = image_tag "#{contribute.user.image}", class: "user__image"
    %ul.inline
      %li.user__nickname
        = contribute.user.nickname
      %li.contribute__created
        = contribute.created_at.to_s
  - if contribute.image?
    .contribute__image
      = link_to(image_tag(contribute.image, class: "contribute_image_content"), contribute_path(contribute))
  .contribute__content
    .title
      = link_to(contribute.title, contribute_path(contribute.id), class: "title_link")
    .contents
      = truncate(simple_format(contribute.content), length: @content_max_length)
    - if contribute.content.length.to_i >= @content_max_length
      = link_to "もっとみる", contribute_path(contribute.id), class: "to_show"
    .tag
      - contribute.contribute_tags.each do |contribute_tag|
        = link_to("#" + contribute_tag.name, hashtag_path(hashtag: contribute_tag.name), class: "contribute_tag")
  .contribute__footer{id: contribute.id}
    = render partial: "devise/shared/like", locals: { contribute: contribute, like: @likes.find_by(user_id: current_user.id, contribute_id: contribute.id) }
