%ul.action
  - if user_signed_in?
    - if contribute.like_user(current_user.id)
      %li.like.inline
        = link_to contribute_contribute_like_path(contribute, like), method: :delete, remote: true do
          = image_tag "liked_icon"
      %li.like__count.inline
        = contribute.likes_count
    - else
      %li.like.inline
        = link_to contribute_contribute_likes_path(contribute), method: :post, remote: true do
          = image_tag "like_icon", class: "like__icon"
      %li.like__count.inline
        - if contribute.likes_count.to_i >= 1
          = contribute.likes_count
  - else
    %li.like.inline
      = image_tag "like_icon", class: "like__icon"
    %li.like__count.inline
      - if contribute.likes_count.to_i >=1
        = contribute.likes_count
  %li.share.inline
    = image_tag "share_button"
  %li.magazine.inline
    = image_tag "magazine_button"
  %li.comment.inline
    -if contribute.comments.count >= 1
      = link_to("コメント#{contribute.comments.count}件", contribute_path(contribute.id, scroll: "comment"), class: "comment_link")
    -else
      = link_to("コメントする", contribute_path(contribute.id, scroll: "comment"), class: "comment_link")

