%ul.action
  - if user_signed_in?
    - if contribute.like_user(current_user.id)
      %li.like.inline
        = link_to contribute_contribute_like_path(contribute, like), method: :delete, remote: true do
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_like_active-9d2e35ec1d2f041657288e1b691c388372a3801a5f37457e4743dc1c4593bc87.svg"
      %li.like__count.inline
        = contribute.likes_count
    - else
      %li.like.inline
        = link_to contribute_contribute_likes_path(contribute), method: :post, remote: true do
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_like-e5e2cb37b6be87e7fe45d6228abf3d6252a73c69bf9f60dd63bf46843628a1d6.svg", class: "like__icon"
      %li.like__count.inline
        = contribute.likes_count
  - else
    %li.like.inline
      = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_like-e5e2cb37b6be87e7fe45d6228abf3d6252a73c69bf9f60dd63bf46843628a1d6.svg", class: "like__icon"
    %li.like__count.inline
      = contribute.likes_count
  %li.share.inline
    = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_30_share-80feb17a6dbd8c4db0a03c99ca26a9b4910cc3436d8c04d1d077c8db247de312.svg"
  %li.magazine.inline
    = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_30_add-magazine-316e72e8051af7a26332365583af0f1a5380e8f9b8f9d0e85cc7ea395fdc57c5.svg"
  %li.comment.inline
    コメントする

