= render "devise/shared/contributes_header"
- @contributes.find_each do |contribute|
  .each__contribute
    .contribute__header
      = image_tag "#{contribute.user.image}", class: "user__image"
      %ul.inline
        %li.user__nickname
          = contribute.user.nickname
        %li.contribute__created
          = contribute.created_at.strftime("%Y/%m/%d %H:%M")
    - if contribute.image?
      .contribute__image
        = image_tag "#{contribute.image}", width: "580"
    .contribute__content
      .title
        = contribute.title
      .contents
        = simple_format("#{contribute.content}")
      .tag
    .contribute__footer
      %ul.action
        %li.like.inline
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_like-e5e2cb37b6be87e7fe45d6228abf3d6252a73c69bf9f60dd63bf46843628a1d6.svg", class: "like__icon"
        %li.like__count.inline
          1
        %li.share.inline
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_30_share-80feb17a6dbd8c4db0a03c99ca26a9b4910cc3436d8c04d1d077c8db247de312.svg"
        %li.magazine.inline
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/icon_30_add-magazine-316e72e8051af7a26332365583af0f1a5380e8f9b8f9d0e85cc7ea395fdc57c5.svg"
        %li.comment.inline
          コメントする
