= render "devise/shared/contributes_header"
- @contributes.each do |contribute|
  .each__contribute
    .contribute__header
      = image_tag "#{contribute.user.image}", class: "user__image"
      %ul.inline
        %li.user__nickname
          = contribute.user.nickname
        %li.contribute__created
          = contribute.created_at.to_s
    - if contribute.image?
      .contribute__image
        = image_tag "#{contribute.image}", width: "580"
    .contribute__content
      .title
        = contribute.title
      .contents
        = simple_format("#{contribute.content}")
      .tag
    .contribute__footer{id: "#{contribute.id}"}
      = render partial: "devise/shared/like", locals: { contribute: contribute, like: @likes.find_by(user_id: current_user.id, contribute_id: contribute.id) }



