= form_for (@contribute) do |f|
  #modal__overlay
  .modal__box
    .modal__box__header
      公開設定
    .modal__box__content
      .setting__free__or__notfree
        %ul
          %li.left
            %p.setting__text 販売設定
          %li.left
            = radio_button(:price, :visit, 'free', {:checked => true})
          %li.left
            %p 無料
          %li.left
            = radio_button(:price, :visit, 'notfree')
          %li.left
            %p 有料
          %li.left.price__decide
            = f.number_field :price, value: 100
          %li.left.price__decide
            %p 円
      .setting__tag__and__magazine
        = fa_icon "caret-down"
        %p.tag__and__magazine.inline 詳細設定（ハッシュタグ、マガジン）
      .setting__tag__and__magazine__open
        .tag
          %p.tag__label ハッシュタグ
          =  f.text_field :tag, placeholder: "ハッシュタグを追加する"
          .suggest__tag
            %p おすすめのタグ
            %ul
              %li.tag__ex #コラム
              %li.tag__ex #エッセイ
              %li.tag__ex #雑記
              %li.tag__ex #興味
              %li.tag__ex #万華鏡
              %li.tag__ex #写真
              %li.tag__ex #イラスト
              %li.tag__ex #日記
              %li.tag__ex #マンガ
              %li.tag__ex #小説
        .magazine
          %p.inline マガジン
          %p.inline.magazine__new + 新規マガジンの作成
      %p.price__alert  販売価格は100円〜10,000円まで設定できます。
    .modal__box__footer
      %ul
        %li.modal__cancel__button
          キャンセル
        %li.modal__submit__button
          = f.submit "投稿", class: "modal__submit"
  .header__for__new
    -if user_signed_in?
      = link_to "note", user_path("#{current_user.id}"), class: "center_logo"
    -else
      = link_to "note", contributes_path, class: "center_logo"
    .header__right
      %ul
        %li.inline
          %p.button__new.public__setting 公開設定
        %li.inline
          = link_to "キャンセル", user_path("#{current_user.id}"), class: "button__new cancel_to_mypage"
  .note__input
    .note__input__container
      .note__input__picture
        %ul.picture__buttons
          %li.picture__button
            = fa_icon "image"
            みんなのフォトギャラリー(B)から挿入
          %li.picture__button
            = f.label :image, class: 'form__mask__image' do
              パソコンからアップロード
              = f.file_field :image, class: 'hidden'
        .note__input__account
          %p.note__input__description.inline
            表紙画像を設定しましょう。表紙画像を設定すると、タイムラインで表示されるほか、SNSで共有した際にサムネイルとして表示されます。
      .note__input__text
        .note__input__title
          = f.text_field :title, class: "note__input__title__type", placeholder: "ノートタイトル"
        .note__input__content
          = f.text_field :content, class: "note__input__content__type", placeholder: "ノート本文"

